footer{
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    padding: 24px 0;
    /*height: 200px;*/
}

.footer-container{
    padding: 0 40px;
    display: flex;
    max-width: 1440px;
    /*margin: 0 auto;*/
}

.footer-container ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-container ul li{
    color: rgb(0,0,0,.56);
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin-bottom: .5rem;
    cursor: pointer;
    line-height: 1.2;
    letter-spacing: .5px;
}

.links-container{
    width: 190px;
    margin-right: 50px;
}

footer h3{
    font-weight: 400;
    margin-bottom: 24px;
}

hr{
    width: 94%;
    color: rgba(0,0,0,.1);
}

/*********** FOLLOW-US ***********/

.follow-us{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 1.4em 2em;
}

.follow-us li{
    font-size: 28px;
    padding: 0.4em;
}

/********* TERMS AND CONDITION *******/

.footer-info{
    list-style-type: none;
    display: flex;
    margin-left: -22px;
}

.li-list{
    display: flex;
}

.li-list:hover{
    text-decoration: underline;
}

.footer-info a{
    text-decoration: none;
    user-select: text;
    font-size: 16px;
    padding: 0 20px;

}

.footer-info span{
    display: flex;
}

.copyright-text{
    margin: 15px 32px;
    padding: 16px 5px;
    margin-bottom: 32px;
    font-size: 14px;
}

.change-color{
    color: #0000008f;
}