*{
    box-sizing: border-box;
}

body{
    margin: 0;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400px;
    color: rgb(0,0,0,0.87);
}

a{
    text-decoration: none;
    color: black;
    user-select: none;
}

/***** MAIN HEADER *****/

header{ 
    height: 101px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    z-index: 10;
    position: relative;
}

.header-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

/******* LOGO *******/

.logo{
    height: 51px;
    width: 51px;
}

.logo img{
    height: 100%;
}

/******* NAV *******/

.left-nav{
    display: flex;
    height: 100%;
    align-items: center;
}

.left-nav nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.left-nav nav ul li{
    padding-left: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.left-nav nav ul li a:hover{
    color: #008248;
}

/***** FIND STORE *****/

.right-nav{
    display: flex;
    align-items: center;
}

.find-store{
    display: flex;
    align-items: center;
    margin-right: 14px;
    font-weight: 600;
    align-items: center;
}

.find-store i{
    padding-right: 8px;
    font-size: 24px;
    cursor: pointer;
}

.find-store:hover{
    color: #008248;
}

/***** SIGN-IN & JOIN NOW BUTTON *****/

.sign-in , .join-now{
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    font-weight: 600;
    line-height: 1.2;
    cursor: pointer;
}

.sign-in{
    margin-right: 16px;
}

.sign-in:hover{
    background-color: rgba(0,0,0,.06);
    transition: all .2s ease;
}

.join-now{
    background: black;
    color: white;
    transition: all .2s ease;
}

.join-now a{
    color: white;
}

.join-now:hover{
    background-color: rgba(0,0,0,.7);
    border-color: rgba(0,0,0,.7);
}